<div class="col-md-6 offset-md-3 font-weight-bold emphasizedLabel">
<br>
<h3> View Contact Details</h3>
<br>
<div>
    <div>
        <label> <b> First Name: </b></label> &nbsp; 
        {{contact.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> &nbsp;
        {{contact.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> &nbsp; &nbsp; &nbsp;
        {{contact.emailId}}
    </div>
    <div>
        <label> <b> Address: </b></label> &nbsp; &nbsp; &nbsp;
        {{contact.address}}
    </div>
    <div>
        <label> <b> Phone: </b></label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        ({{ contact.phoneNumber | slice:0:3 }}) {{ contact.phoneNumber | slice:0:3 }}-{{ contact.phoneNumber | slice:0:4 }}
    </div>
    <div>
        <label> <b> Birth Date: </b></label> &nbsp;
        {{contact.dateOfBirth}}
    </div>
</div>
<br>

<button class="btn btn-outline-secondary" (click)="back()">Back</button> &nbsp; &nbsp;
